//覆盖一些element-ui样式
// TODO: 全局输入框样式
// @import 'el-input';
@import 'el-table';
@import 'el-pagination';
@import 'el-button';
@import 'el-dialog';
@import 'el-page-header';
@import 'el-message';
@import 'search-tool';
@import 'search-result';

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

//暂时性解决dialog 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//文章页textarea修改样式
.article-textarea {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

//dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// .el-form-item {
//   margin: 0;
// }

// .filter-container .filter-item {
//   margin-bottom: 0!important;
// }

.el-form-item__label {
  // color: $--color-text-secondary;
  color: #20232A;
  font-weight: 400;
}

.el-pager li {
  color: #666666;
  font-weight: normal;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 12px;
}

.el-pager li.active {
  color: $--color-primary;
  border: none !important;
}

.tox-tinymce {
  border: none !important;
}


.el-progress-bar__outer {
  border-radius: 10px !important;
  background-color: #fa8665 !important;
}
.el-progress-bar__inner {
  border-radius: 0 !important;
}

.el-tooltip__popper.is-dark {
  background:rgba(0, 0, 0, 0.5);
}

.v-modal {
  opacity: .2;
}