<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heima.wemedia.mapper.WmNewsMapper">
<!--    查询文章列表-->
    <select id="findListAndPage" resultType="com.heima.model.wemedia.vos.WmNewsVO" parameterType="com.heima.model.wemedia.dtos.NewsAuthDTO">
        select wn.*,wu.name authorName
        from wm_news wn
        left join wm_user wu on wn.user_id=wu.id
        <where>
            <if test="dto.title != null and dto.title != ''">
                and wn.title like #{dto.title,jdbcType=VARCHAR}
            </if>
            <choose>
                <when test="dto.status != null">
                    and wn.status=#{dto.status}
                </when>
                <otherwise>
                    and wn.status!=0
                </otherwise>
            </choose>
        </where>
        limit #{dto.page},#{dto.size}
    </select>

<!--    查询文章数量-->
    <select id="findListCount" resultType="long" parameterType="com.heima.model.wemedia.dtos.NewsAuthDTO">
        select count(*)
        from wm_news wn
        left join wm_user wu on wn.user_id=wu.id
        <where>
            <if test="dto.title != null and dto.title != ''">
                and wn.title like #{dto.title}
            </if>
            <choose>
                <when test="dto.status != null">
                    and wn.status=#{dto.status}
                </when>
                <otherwise>
                    and wn.status!=0
                </otherwise>
            </choose>
        </where>;
    </select>
</mapper>