# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\86152\Desktop\139黑马头条\day10上_热点文章缓存_准备\资料\分布式锁样例代码\itheima-distributelock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
